body {
  // La url de abajo la carga webpack con file-loader
  background-image: url(./assets/background.jpg);
  background-size: cover;
}

h1 {
  font-weight: bold;
  color: red;
  text-align: center;
}

.peli {
  display: inline-block;
  vertical-align: middle;
  margin: 10px 20px;
  width: 300px;

  h2 {
    height: 60px;
    text-align: center;
  }

  img {
    height: 430px;
    width: 300px;
  }
}